
#follower {
    .max-with{
    max-width: 50rem;
    margin: 0 auto;
    }
    .influencer {
        position: relative;

        .photo {
            z-index: 2;
            position: relative;

            img {
                height: 4rem;
            }
        }

        .my-hr {
            position: relative;
            top: 2rem;
            z-index: 1;
        }
    }

    .login {
        position: relative;
        z-index: 2;
        line-height: 1.1;
    }

    .nav a.small {
        line-height: 1rem;
        font-size: 0.6rem;
        padding: 0.2rem 0.4rem 0.2rem;
    }

    .social-media {
        position: relative;
        top: 2.2rem;
        font-size: 0.8rem;

        i.fab {
            border-radius: 50%;
            padding: 0.2rem;
        }

        .fa:hover {
            opacity: 0.7;
        }

        .fa-instagram {
            background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
            color: white;
        }

        .fa-facebook {
            background: #3B5998;
            color: white;
        }

        .fa-twitter {
            background: #55ACEE;
            color: white;
        }

    }

    .search{
        input{
            font-size:0.8rem;
        }
    }

    .ads{
        position: sticky;
        bottom: 1rem;
        p{
            min-height: 4rem;
        }
    }

    footer{
        
        .fa-heart{
            color: red;
        }
    }
}

.alink{
    // margin: 0rem 2rem 0rem;
    h6{
    font-size: 0.8rem;
    }
}