<!doctype html>
<html lang="{{i18n_lang_2}}">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/stylesheets/min/custom.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/min/account.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
        crossorigin="anonymous">


  <title>{{  translate "main_page.title" }}</title>
</head>

<body class="bg-light">
<div class="bande"></div>

  <div class="container">

    <header class=" mt-5 mb-3">
        <a class="navbar-brand d-flex align-items-center justify-content-center" href="/">
          <img src="/images/linkey.png" style="width:12rem" alt="Logo 7linKy">
        </a>
        
        </header>
