  <!-- Toggle button -->
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i
      class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">
      {{ translate "dashboard.generals.toggle" }}
    </small></button>
  <button class="btn rounded-pill shadow-sm px-4 mb-4 bg-white float-right "></i><small class="text-uppercase font-weight-bold">
      <a href="/">
        <img src="/images/7linKy.png" width="80" alt="Logo 7linky">
        
      </a>
      <select id="selectFlag" data-show-content="true" class="">
          <option value="fr" data-content="<i data-lang='fr' class='france flag'></i> <span class='lang_txt d-none'>fr</span>"></option>
          <option value="en" data-content="<i data-lang='en' class='united states flag'></i> <span class='lang_txt d-none'>en</span>"></option>
      </select>
    </small>
  </button>
