  <!-- Toggle button -->
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i
      class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">
      {{ translate "dashboard.generals.toggle" }}
    </small></button>
  <button class="btn rounded-pill shadow-sm px-4 mb-4 float-right "></i><small class="text-uppercase font-weight-bold">
      <a href="https://127.0.0.1:3000">
        <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="20" alt="Page Logo">
        LINKEY
      </a>
    </small>
  </button>
