{{> "main/header" }}

<header class="masthead text-white text-center ">
  <div class="overlay"></div>
  <div class="black">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Make your #linkinbio a search engine</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="bg-light text-center pb-5" id='howitworks'>
  <div class="container">
    <h1 class="mb-5 pt-5">How it works</h1>
    <div class="row">
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="icon d-flex ">
            <i class="fas fa-swatchbook fa-9x m-auto text-primary"></i>

          </div>
          <h3>Several links! No problem</h3>
          <p class="lead mb-0"><span class="badge badge-dark">1</span> Add your links, each one with a unique
            <strong>KEY</strong>.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="icon d-flex">
            <i class="fab fa-instagram fa-9x m-auto text-primary"></i>
          </div>
          <h3>With a unique URL</h3>
          <p class="lead mb-0"><span class="badge badge-dark">2</span> Retrieve your unique URL, put it on in your
            #bio</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class=" mx-auto mb-0 mb-lg-3">
          <div class="icon d-flex">
            <i class="fas fa-users fa-9x m-auto text-primary"></i>

          </div>
          <h3>Track your followers</h3>
          <p class="lead mb-0"><span class="badge badge-dark">3</span> Understand your audience and what they looking
            for.</p>
        </div>
        <blockquote>To more understand. <br />
          This is a <a href="https://instagram.com/linkey_demo">demo account</a></blockquote>
      </div>
    </div>
  </div>
</section>

<div class="pricing-header px-3 py-3 pt-5 pb-4 mx-auto text-center" id="pricing">
  <h1 class="display-4">Pricing</h1>
  <p class="lead d-none">Quickly build an effective pricing table for your potential customers with this Bootstrap
    example. It's built with default Bootstrap components and utilities with little customization.</p>
</div>

<DIV class="container pricing">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Free</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Unlimited links</li>
          <li>Social icons</li>
          <li>Newsletter Email Signup</li>
          <li class="getpaid">Link Tracking & Stats</li>
          <li class="getpaid">No Ads</li>
          <li class="getpaid">pre-designed themes</li>
          <li>Email Support</li>
        </ul>
        <a type="button" class="btn btn-lg btn-block btn-outline-primary getstarted-btn " href="#getstarted">Sign up for
          free</a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Pro (Coming Soon)</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Unlimited links</li>
          <li>Social icons</li>
          <li>Newsletter Email Signup</li>
          <li>Link Tracking & Stats</li>
          <li>No Ads</li>
          <li class="">pre-designed themes</li>
          <li>Email Support</li>
          <li>& More</li>


        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm d-none">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Enterprise</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$29.9 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Unlimited links</li>
          <li>Social icons</li>
          <li>Newsletter Email Signup</li>
          <li>Link Tracking & Stats</li>
          <li>No Ads</li>
          <li>Email Support</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
      </div>
    </div>
  </div>
</DIV>

{{> "main/footer"}}

<script>
  /* ****************************** make the footer always on the bottom */
  $(function () {

    $('nav li a').click(function () {
      // $(".navbar-toggler-icon").trigger("click");
    })

  });
</script>


</body>

</html>